In [1]:
from las import LASReader
import numpy as np
import pandas as pd
from scipy import signal

In [2]:
import matplotlib.pyplot as plt

In [7]:
file = r'./data/7120_1_3.las'

In [11]:
def loadLog(file):
    """
    # Import sonic log into Numpy. 
    """
    log = LASReader(file, null_subs=np.nan)
    
    return log


def npSonic(file):
    """
    Return 1D array of sonic/dt data
    """
    data = loadLog(file)
        
    return data

    
def MedFilt(arr, filter_size):
    """
    Apply scipy.signal.medfilt(volume, kernel_size=None)
    """
    medFilt = signal.medfilt(volume=arr, kernel_size=filter_size)
    
    return medFilt


def las2Dataframe(file):
    log = LASReader(file, null_subs=np.nan)
    df = pd.DataFrame(log.data)
    
    return df

def integrate(arr):
    """
    two-way-time to depth relationship
    """    
    scaled = 0.1524 * np.nan_to_num(arr) / 1e6
    tcum = 2 * np.cumsum(scaled)
    tdr = tcum + log_start_time
    
    return tdr

def vavgSonic():
    """
    # Calculate Average velocity
    """
    pass
    

def vrmsSonic():
    """
    # Calculate RMS velocity
    """
    pass


def vintSonic(tops):
    """
    # Calculate Interval velocity for each Formation
    """
    pass
    

def v0kSonic():
    """
    # Calculate V0k for each Formation interval
    """
    pass

In [12]:
## Dealing with LAS file

data = npSonic(file)

print (data.curves.names)

['Depth', 'AI', 'AI_Fizz', 'AI_Gas', 'AI_ORG', 'AI_Oil', 'AI_Wet', 'BS', 'CALI', 'DenFluid', 'DenSolid', 'FLAG_Rhob', 'FLAG_Vp', 'FLAG_Vs', 'GR', 'GSolid', 'KFluid', 'KSolid', 'MARKER_FS', 'NPHI', 'PPORE', 'PR', 'PR_ORG', 'Phi_T', 'Pr_Fizz', 'Pr_Gas', 'Pr_Oil', 'Pr_Wet', 'RES_D', 'RES_M', 'RES_S', 'RHOB', 'RHOB_ORG', 'Rhob_Fizz', 'Rhob_Gas', 'Rhob_Oil', 'Rhob_Wet', 'SG', 'SO', 'SW', 'TEMP', 'TVD', 'VCalcite', 'VClay', 'VCoal', 'VDolomite', 'VMica', 'VP', 'VP_ORG', 'VPyrite', 'VQuartz', 'VS', 'VS_ORG', 'VToc', 'VpFluid', 'VpSolid', 'Vp_Fizz', 'Vp_Gas', 'Vp_Oil', 'Vp_Wet', 'VsSolid', 'Vs_Fizz', 'Vs_Gas', 'Vs_Oil', 'Vs_Wet']

In [13]:
TVDSS = data.data['TVDSS']
GR =    data.data['GR']
NEU =   data.data['NEU']
RDEP =  data.data['RDEP']
PHIE =  data.data['PHIE_CPI']
PEF =   data.data['PEF']
DT =    data.data['AC']*3.28084    # convert usec/ft to usec/m
DTS =   data.data['ACS']*3.28084  # convert usec/ft to usec/m
RHOB =  data.data['DEN']*1000    # convert to SI units

DT

In [15]:
KB_elev = 30 #data.well.KB.data  # Kelly Bushing elevation
water_depth = 331.5 #data.well.GL.data # Depth to Sea Floor below sea level
top_of_log = data.start   

print ("KB elevation [m]: ", KB_elev) # Kelly Bushing (ft)
print ("Seafloor elevation [m]: ", water_depth) # Depth to sea floor below sea level

repl_int = data.start + KB_elev - water_depth
water_vel = 1480  # velocity of sea water [m/s]

EGL_time = 2.0 * np.abs(KB_elev) / water_vel
print ("Ground Level time above SRD :", EGL_time)

water_twt = 2.0*abs(water_depth + EGL_time) / water_vel
print ("water_time: ", water_twt)

print ("Top of sonic log [m]: ", data.start)  
print ("replacement interval [m]: ", repl_int)

repl_vel = 2100 # m/s
repl_time = 2.0 * repl_int / repl_vel
print ("two-way-replacement time: ", repl_time)

log_start_time = water_twt + repl_time 
print ('log_start_time:', log_start_time)

KB elevation [m]:  30
Seafloor elevation [m]:  331.5
Ground Level time above SRD : 0.04054054054054054
water_time:  0.4480277574872169
Top of sonic log [m]:  317.0
replacement interval [m]:  15.5
two-way-replacement time:  0.014761904761904763
log_start_time: 0.46278966224912166

In [14]:
#data = dfSonic(file)
sonicMedFilt = npMedFilt(data.data['AC'], 31)

sonicMedFilt

data.data['AC']

KB elevation [m]:  30
Seafloor elevation [m]:  331.5
Ground Level time above SRD : 0.04054054054054054
water_time:  0.4480277574872169
Top of sonic log [m]:  317.0
replacement interval [m]:  15.5
two-way-replacement time:  0.014761904761904763
log_start_time: 0.46278966224912166

NameError: name 'npMedFilt' is not defined

In [5]:
df = las2Dataframe(file)
df.head()

,DEPT,AC,DEN,GR,NEU,PEF,ACS,RDEP,Lithology_detailed,AC_CPI,DEN_CPI,GR_CPI,NEU_CPI,PHIE_CPI,PHIT_CPI,SW_CPI,VShale_CPI,RDEP_CPI,TVDSS
0,366.1136,199.083389,NaN,51.189999,NaN,NaN,NaN,0.9133,7.0,199.083435,NaN,51.190029,NaN,NaN,NaN,NaN,NaN,0.913320,-342.113586
1,366.2660,198.695297,NaN,50.849998,NaN,NaN,NaN,0.9524,7.0,198.611923,NaN,51.729454,NaN,NaN,NaN,NaN,NaN,0.962026,-342.265991
2,366.4184,197.924103,NaN,54.549999,NaN,NaN,NaN,1.0356,7.0,198.010925,NaN,53.892685,NaN,NaN,NaN,NaN,NaN,1.015820,-342.418396
3,366.5708,197.552002,NaN,55.230000,NaN,NaN,NaN,1.0278,7.0,197.464890,NaN,55.839531,NaN,NaN,NaN,NaN,NaN,1.027578,-342.570801
4,366.7232,196.779800,NaN,58.709999,NaN,NaN,NaN,1.0190,7.0,196.738113,NaN,57.403957,NaN,NaN,NaN,NaN,NaN,1.020487,-342.723206

In [7]:
df.drop(['DEN', 'GR', 'NEU', 'PEF', 'ACS', 'RDEP', 'Lithology_detailed',
         'AC_CPI', 'DEN_CPI', 'GR_CPI', 'NEU_CPI', 'PHIE_CPI', 'PHIT_CPI',
        'SW_CPI', 'VShale_CPI', 'RDEP_CPI'], axis=1, inplace=True)

In [9]:
df.TVDSS = df.TVDSS*-1
df.head()

       DEPT          AC       TVDSS
0  366.1136  199.083389  342.113586
1  366.2660  198.695297  342.265991
2  366.4184  197.924103  342.418396
3  366.5708  197.552002  342.570801
4  366.7232  196.779800  342.723206

In [10]:
df['VEL'] = 304800 / df['AC']
df.head()

       DEPT          AC       TVDSS          VEL
0  366.1136  199.083389  342.113586  1531.016732
1  366.2660  198.695297  342.265991  1534.007117
2  366.4184  197.924103  342.418396  1539.984245
3  366.5708  197.552002  342.570801  1542.884896
4  366.7232  196.779800  342.723206  1548.939471

In [11]:
df['OWT'] = df['TVDSS'] / df['VEL']
df.head()

       DEPT          AC       TVDSS          VEL       OWT
0  366.1136  199.083389  342.113586  1531.016732  0.223455
1  366.2660  198.695297  342.265991  1534.007117  0.223119
2  366.4184  197.924103  342.418396  1539.984245  0.222352
3  366.5708  197.552002  342.570801  1542.884896  0.222033
4  366.7232  196.779800  342.723206  1548.939471  0.221263

In [ ]:
df = df.dropna()

In [32]:
df['Tint'] = 0.19
df.head()

       DEPT          AC       TVDSS          VEL       OWT  Tint
0  366.1136  199.083389  342.113586  1531.016732  0.223455  0.19
1  366.2660  198.695297  342.265991  1534.007117  0.223119  0.19
2  366.4184  197.924103  342.418396  1539.984245  0.222352  0.19
3  366.5708  197.552002  342.570801  1542.884896  0.222033  0.19
4  366.7232  196.779800  342.723206  1548.939471  0.221263  0.19

In [36]:
if df['Tint'].shift(-1)== np.nan:
    df['Tint']=0.19
else:
    df['Tint']= df['Tint'].shift(-1) + (df['TVDSS'] - df['TVDSS'].shift(-1)) * ((df['VEL'] + df['VEL'])/(2*304785.126485))
df.head()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
df['Tint'] = df['Tint'].shift(-1)+(((df['TVDSS']-df['TVDSS'].shift(-1)*(df['VEL'] + df['VEL'].shift(-1))/2)*0.000003281))
df.tail()

            DEPT         AC        TVDSS          VEL       OWT       Tint
14010  2501.2376  52.725502  2474.624512  5780.883792  0.428070 -46.731625
14011  2501.3900  52.746902  2474.775635  5778.538374  0.428270 -46.673526
14012  2501.5424  52.862801  2474.926514  5765.869317  0.429237 -46.588108
14013  2501.6948  52.946102  2475.077393  5756.797718  0.429940 -46.564465
14014  2501.8472  52.922699  2475.228516  5759.343456  0.429776        NaN

In [34]:
df.head()

       DEPT          AC       TVDSS          VEL       OWT      Tint
0  366.1136  199.083389  342.113586  1531.016732  0.223455 -1.529850
1  366.2660  198.695297  342.265991  1534.007117  0.223119 -1.535653
2  366.4184  197.924103  342.418396  1539.984245  0.222352 -1.541410
3  366.5708  197.552002  342.570801  1542.884896  0.222033 -1.547215
4  366.7232  196.779800  342.723206  1548.939471  0.221263 -1.555682

In [ ]:
log = loadLog(file)

In [ ]:
log.curves.items

In [ ]:
log.data[['DEPT', 'AC']].shape

In [ ]:
log.data.shape

In [ ]:
log.data['TVDSS']

In [ ]:
sonic = npSonic(file)

In [ ]:
sonic_med41 = npMedFilt(sonic, 41)

In [ ]:
fig, ax = plt.subplots(figsize=(5,15))

ax.set_ylim (0,3000)
ax.invert_yaxis()
ax.yaxis.grid(True)
ax.get_xaxis().set_visible(False)

ax=ax.twiny()
ax.grid(True)
ax.set_xlim(0,7000)
ax.spines['top'].set_position(('outward',0))
ax.plot(304800/log.data['AC'], log.data['TVDSS']*-1, label='Vint[m/s]', color='blue')
ax.set_xlabel('Vint[m/s]', color='blue')    
ax.tick_params(axis='x', colors='blue')


#plt.plot(log.data['AC'], log.data['DEPT'])
#plt.plot(concat[1], log.data['DEPT'])

In [ ]:
sonic_med41.shape

In [ ]:
sonic.shape

In [ ]:
concat = np.vstack((concat, Vavg))

In [ ]:
concat.shape

In [ ]:
concat[2]

In [ ]:
Vavg = (log.data['TVDSS']*-1)/(304.8/log.data['AC'])

In [ ]:
Vavg

In [ ]:
def velocity_logs(top_depth, bottom_depth):
    
    log = loadLog(file)
        

    fig, ax = plt.subplots(nrows=1, ncols=4, figsize=(15,15), sharey=True)
    fig.subplots_adjust(top=0.9,wspace=0.1)
    
    #General setting for all axis
    for axes in ax:
        axes.set_ylim (top_depth,bottom_depth)
        axes.invert_yaxis()
        axes.yaxis.grid(True)
        axes.get_xaxis().set_visible(False)


    # 1st track: Sonic
    
    ax01=ax[0].twiny()
    ax01.grid(True)
    ax01.set_xlim(0,200)
    ax01.spines['top'].set_position(('outward',0))
    ax01.set_xlabel('Vint[m/s]')
    ax01.plot(log.data['AC'], log.data['TVDSS']*-1, label='Vint[m/s]', color='blue')
    ax01.set_xlabel('Vint[m/s]', color='blue')    
    ax01.tick_params(axis='x', colors='blue')

    # 2nd track: Sonic
    
    ax02=ax[1].twiny()
    ax02.grid(True)
    ax02.set_xlim(0,200)
    ax02.spines['top'].set_position(('outward',0))
    ax02.set_xlabel('Vint[m/s]')
    ax02.plot(concat[1], log.data['TVDSS']*-1, label='Vint[m/s]', color='red')
    ax02.set_xlabel('Vint[m/s]', color='red')    
    ax02.tick_params(axis='x', colors='red')

    # 3rd track: Velocity from sonic
    
    ax03=ax[2].twiny()
    ax03.grid(True)
    ax03.set_xlim(0,7000)
    ax03.spines['top'].set_position(('outward',0))
    ax03.set_xlabel('Vinst[m/s]')
    ax03.plot(304800/concat[1], log.data['TVDSS']*-1, label='Vinst[m/s]', color='orange')
    ax03.set_xlabel('Vinst[m/s]', color='orange')    
    ax03.tick_params(axis='x', colors='orange')
    
    # 4th track: Average Velocity from sonic
    
    ax04=ax[2].twiny()
    ax04.grid(True)
    ax04.set_xlim(0,7000)
    ax04.spines['top'].set_position(('outward',0))
    ax04.set_xlabel('Vinst[m/s]')
    ax04.plot(concat[3], log.data['TVDSS']*-1, label='Vinst[m/s]', color='orange')
    ax04.set_xlabel('Vinst[m/s]', color='orange')    
    ax04.tick_params(axis='x', colors='orange')

In [ ]:
velocity_logs(0,3000)